target
.bsp
.idea
*.class
*.iml
*.ipr
*.iws
project
src/test
src/main/resources
src/main/scala/com/example/proba
src/main/scala/com/example/proba1
src/main/scala/com/example/App.scala
src/main/scala/com/example/BusArrivalsConsumer.scala
src/main/scala/com/example/ChannelsUpdatesWriteToHDFS.scala
src/main/scala/com/example/EarthquakesTracker.scala
src/main/scala/com/example/EarthquakesTrackerUpdated.scala
src/main/scala/com/example/Proba.scala
src/main/scala/com/example/USGSEarthquakesConsumer.scala
src/main/scala/com/example/USGSEarthquakesProducer.scala
src/main/scala/com/example/YoutubeAnotherApiDataGetter.scala
src/main/scala/com/example/YoutubeApiDataGetter.scala
docker/druid
docker/druid-conf-vol
docker/earthquakes
docker/incubator-superset
docker/metabase-vol
docker/nifi/logs
docker/pyspark_batch/main.py
docker/pyspark_batch/requirements.txt
docker/storage
docker/target
docker/docker-compose2.yml
docker/docker-compose3.yml
docker/Dockerfile-metabase
docker/note



